#Python environment
venv/

#Protected files password and encrypted files
password.txt
encrypt.py

#Assignments solutions
Assigns/*.ipynb

#Quices materials
Quices Study Files/*.ipynb

#Notebook checkpoints
.ipynb_checkpoints

#PDF files
*.pdf