#Python environment
venv/

#Protected files password and encrypted files
password.txt
encrypt.py

#Assignments solutions
Assignments/**

#Quices materials
Quices Study Files/**

#Notebook checkpoints
.ipynb_checkpoints

#PDF files
*.pdf

#Session files
*.pye

#Python cache files
**/__pycache__/

#Qiskit Fest solutions
Qiskit Fest Hackathon/**